#main{
    background-color: azure;
    height: 200px;
    justify-content: center;
    display: flex;
    position: relative;
    top: 200px;
}
#dropdown{
    background-color: rgb(2, 2, 13);
    width: 800px;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;


}

#Newtask{
    background-color: rgb(141, 141, 204);
    position: relative;
    left: 250px;
    top: 10px;
    width: 120px;
    height: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
}
#displaytask{
    background-color: rgb(141, 141, 204);
    position: relative;
    width: 150px;
    height: 20px;
    left: 300px;
    top: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
}

#drop-div{
    background-color:  rgb(141, 141, 204);
    width: 800px;
    display: flex;
    overflow-y: auto;
    position: relative;
    flex-direction: column;
    top: 100px;
    height: 100px;
    left: -100px;
    align-items: center;
    
    
}
/* CSS */
#drop-div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Adjust the transition speed as needed */
    /* Additional styling for visibility purposes */
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}




