body{
    background-color: aqua;
    
}
.Todolist{
    position: relative;
    top: 30%;
    left: 45%;
}
.TaskList{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
    width: 500px;
    height: 150px;
    
}
#inputfield{
    
}
#main{
    display: inline-block;
    background-color: azure;
    position: relative;
    left: 20%;
    bottom: 10%;
}
.Arrow{
    padding-right: 25px;
}
.Arrow-icon{
    position:absolute;
    cursor: pointer;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: all;
    color: blue;
}

#Dropdown{
    overflow: hidden;
    width: 100%;
    height: 0px;
    position:absolute;
    transition: 1s ease;

}
#Enter{

    top: 45px;
    
}

#Delete{
    top: 45px;
    left: 100px;

}
.button{
    
    display: inline-block;
    position:absolute;
    width: 80px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;

}
#control{
    display: inline-block;
    background-color: aqua;
    position: relative;
    left: 20%;
    top: 5%;
    height: 70%;

}