body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 77, 128);
}
#main-window{
    background-color: aliceblue;
    height: 300px;
    width: 100%;
    display:flex;
    justify-content: center;


    }
.button{
    background-color:rgb(77, 77, 128); ;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-left: 5px;
    position: relative;
    left: 18%;
    
  
}
a{
    text-decoration: none;
      color: black;
}
#display-task{
    background-color: rgb(77, 77, 128);
    height: 100px;
    overflow-y: scroll;
    margin-top: 22px;
    width: 500px;
    transition: height 1s ease;
    position: relative;
    top: 22px;
    right: 30%;
    display: block;
    
}
.sub_div1{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
    position: relative;


}
.sub_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.complete_button{
    background-color: aqua;
    width: 10px;
    height: 10px;
    position: relative;
    left: 20%;
    border-radius: 50%;

}

