{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled JavaScript -->
    
</head>
<div class="">

</div>

<body class="body ">
    <div class="container h1">
        <h1 class="h1 text-center mt-20">Create what you want</h1>
    </div>
    <div class="Nav">
        <div class="container  menu" id="app">
            <li class="list-unstyled list-inline-item  "><a href="/Resumewebsite/index.html" class="no-underline">Home</a></li>
            <li class="list-unstyled list-inline-item  "><a href="/Resumewebsite/create_buble.html" class="no-underline">create_buble</a></li>
            <li class="list-unstyled list-inline-item "><a href="" class="no-underline">Infos_on_bubles</a></li>
        </div>
    </div>
    <div class="section container-fluid">
        <form action="" class="was-validated">
            <div class="mb-3 mt-3">
                <input type="text" placeholder="enter1">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">invalid</div>
            </div>
            <div class="mb-3 mt-3">
                <input type="text" placeholder="enter1">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">invalid</div>
            </div>
            <div class="mb-3 ">
                <input type="text" placeholder="enter1">
                <div class="valid-feedback">valid</div>
                <div class="invalid-feedback">invalid</div>
            </div>
            <div class="mb-3 mt-3">
                <input type="submit" placeholder="enter1">
            </div>
        </form>
    </div>
    <div class="footer">
        <div class=" contact-info">
            <a href="#info" class="no-underline" data-bs-toggle="collapse">
                <h5>contact-info</h5>
            </a>
            <div class=" collapse" id="info">
                <ul>
                    <li class="list-unstyled">Adresse</li>
                    <li class="list-unstyled">phone-number</li>
                    <li class="list-unstyled">Email Adresse</li>
                </ul>
            </div>
        </div>
        <div class=" Social-Medias">
            <a href="#social-medias" class="no-underline" data-bs-toggle="collapse">
                <h5>Social Medias</h5>
            </a>
            <div class="collapse" id="social-medias">
                <ul>
                    <li class="list-unstyled">facebook</li>
                    <li class="list-unstyled">Instagram</li>
                    <li class="list-unstyled">TikTok</li>
                </ul>
            </div>

        </div>
        <div class=" links ">
            <a href="#links" class="no-underline" data-bs-toggle="collapse">
                <h5>links</h5>
            </a>
            <div class="collapse" id="links">
                <ul>
                    <li class="list-unstyled">Adresse</li>
                    <li class="list-unstyled">phone-number</li>
                    <li class="list-unstyled">Email Adresse</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <script src="{%static 'js/script.js'%}"></script>
</body>

</html>