{% extends 'extension.html' %}
 {% load static %}
 {% block link %}
 <link rel="stylesheet" href="{% static 'css/style.css'%}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 {% endblock link %}
    
 {% block body %}
     <body style=" background-color: rgb(156, 156, 241);">
        <div id="main">
            <div id="dropdown">
                <div class="btn btn-parameter button" id="Newtask">New-Task</div>
                <div class="btn btn-parameter button" id="displaytask" >Display-Task</div>
                <div id="dropdiv"></div>
            </div>
         </div>
     </body>
    <script src="{% static 'js/script.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
 {% endblock body %}
    